body{
    background-color: #FFD77C;
    text-align: center;
}

#uscolor{
    color:rgb(30, 190, 30);;
}

#contact{
    width: 270px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 42%;
}

#email{
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 25px;
}

button{
    border: none;
    border-radius: 7px;
    background-color: #6CB840;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}

footer {
    background-color:  #C9ECB5;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 180px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    position: relative;
    flex: 1;
    padding: 0;
}

#footer-item1::after{
   
    border-right: 3px dotted black; 
}


.footer-item::after{
    content: "";
    position: absolute;
    top: 0;
    right: 50px; /* Adjust this value for desired spacing */
    height: 100%;
    /* border-right: 3px dotted black;  */
}

.footer-content p {
    margin: 0;
}
